:root {

  /* Typography */
  --rwdz-font-size: 16px;
  --rwdz-font-family: "SF Pro", sans-serif;

  /* Base Colors */
  --rwdz-color-white: #ffffff;
  --rwdz-color-background: #f5f8ff;
  --rwdz-color-text: #151515;
  --rwdz-color-label: #abadc0;

  /* Brand */
  --rwdz-color-primary: #1976d2;
  --rwdz-color-border: #edf0ff;

  /* Status Colors */
  --rwdz-color-info: #c0c0c0;
  --rwdz-color-success: #40cb57;
  --rwdz-color-warning: #fbc933;
  --rwdz-color-error: #ff3838;

  /* Layout */
  --rwdz-border-radius: 8px;

  --rwdz-test:'text';
}
